@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Poppins:wght@400;500;700&display=swap');
@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

.menu {
  @apply hover:text-primary relative flex items-center h-full;
}
.menu:hover::after {
  content: '';
  @apply bg-primary absolute h-1 bottom-0 left-0 right-0 rounded-tl-lg rounded-tr-lg;
}
.selected {
  @apply text-primary relative flex items-center h-full;
}

.selected::after {
  content: '';
  @apply bg-primary absolute h-1 bottom-0 left-0 right-0 rounded-tl-lg rounded-tr-lg;
}

/* Loader */
.loader {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.loader:after {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  /* margin: 8px; */
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}
.loader-black:after {
  border: 2px solid #000;
  border-color: #000 transparent #000 transparent;
}
.loader-white:after {
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
}

/* Media preview actions */
.media-action {
  @apply text-white text-2xl cursor-pointer hover:text-gray7 transition-colors duration-300;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
